@charset "utf-8";
/* CSS Document */



@import url("all.css");

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

body /* định dạng cho nguyên 1 trang*/
{
	background-color: white; /* màu nền cho trang web*/
	color: #333; /* màu chữ*/ 
	font-family:"Roboto",Lora, Gotham, "Helvetica Neue", Helvetica, "Arial" ;
	font-size: 16px;
	margin: 0    /* bỏ đẩy lề của trang web*/
}

	

h1{ 
		font-size: 45px;font-family: DM Serif Display;
	
	}
h2{ font-size: 40px;font-family: DM Serif Display} 
h3{ font-size: 36px; font-family: Roboto}
h4{ font-size: 24px; font-family: Roboto}
h5{ font-size: 20px; font-family: Roboto}
h6{ font-size: 18px; font-family: Roboto}
h1,h2,h3,h4,h5,h6,a, button{font-weight: 500; margin-bottom: 0; margin-top: 0; display: block}
p{margin-bottom: 0}
a{ 
	color: black;
	text-decoration: none;
	font-weight: 600
}
a:hover /* khi đưa chuột và chữ có thẻ a - liên kết trang web nào đó*/
{
	color: #555
}
/*@font-face
{
	font-family: f-tron;
	src: url("../fonts/Coolvetica Rg.otf")
}
.aimuonf-tron
{
	font-family: f-tron;
	
}*/
/*----------------------- layout bo cuc web----small----------*/
.container-fluid
{
	width: 100%; padding-left: 16px; padding-right: 16px
}
/*------------- mobile first-----------------*/
.container
{
	width:95%; margin: auto
}
/*--------------size container cho tablet (ipad)-medium--------------*/
@media (min-width:600px)
{
	.container
	{
		width:90%; margin: auto
	}
	
}
/*--------------size container cho pc 1000----large-----------*/
@media (min-width:1000px)
{
	.container
	{
		width:80%; margin: auto
	}
}
/*---------- chia he thong grid 12 column*/
.col-1{ width: 8.3333%; }
.col-2{ width:16.6666%}
.col-3{ width: 25%}
.col-4{ width: 33.33%}
.col-5{ width:41.66%}
.col-6{ width: 50%}
.col-7{ width:58.33%}
.col-8{ width: 66.66%}
.col-9{ width: 75%}
.col-10{ width: 83.33%}
.col-11{ width: 91.66%}
.col-12{ width: 100%}
[class*="col-"]
{
	padding: 15px;
	
}
*{ box-sizing: border-box}
.img-100{width: 100%}
.row 
{
	display: flex;
	flex-wrap: wrap
}
.card
{ 
	background-color: #FFFFFF;
	border-radius: 15px; /* bo goc*/
	overflow: hidden
	}
.card-body
{ 
	padding: 16px
}

footer
{
	background: black;
	color:#B0ADAD;
}
footer a {color: #B0ADAD}
footer a:hover {color: white}




.footer-2
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	width: 100%;
	margin-bottom: 100px;
}
/*---- style he thong mau chữ cho web---*/
.text-primary { color: #92B9AD} /* mau chử chính (lam nhan ý chính */
.text-secondary { color:#5FA7BB} /* mau chử phụ (lam nhan ý phụ trong thiet ke */
.text-light{ color: #DDDDDD}
.text-dark{color: #323232}
.text-warning{color: #FFAB00}
.text-giacu
{
	color: #B9B9B9;
	text-decoration: line-through;
   }
/*---- style he thong mau nền background cho web---*/
.bg-primary { background-color: #92B9AD}
.bg-secondary { background-color: #fff}
.bg-hongcam {background-color: #F4A9AC}
.bg-light{background-color:#33333}
.bg-dark {background-color:#323232}
/*--- style he thong mau cho nút button---*/


.btn-primary
{  display: inline-block;
	font-size: 14px;
	background-color: black;
	color: white;
	padding: 13px 20px;
	border-radius: 4px;
}
.btn-primary:hover{
	background-color:white;
	color: black
}

.btn-secondary
{  display: inline-block;
	background-color: black;
	color: white;
	padding:13px 20px;
	border-radius: 4px
}
.btn-secondary:hover{
	background-color:#404040;
	color: white
}

.btn-outline-primary
{
	border: 1px deeppink inset;
	color: deeppink;
	padding: 8px 16px;
	border-radius: 4px;
	margin:2px ;
	
}
.btn-outline-primary:hover
{
	background-color:deeppink;
	color: white
}
.btn-outline-secondary
{
	border: 1px #05916F solid;
	color: #05916F;
	padding: 8px 16px;
	border-radius: 4px;
	margin:2px ;
	
}
.btn-outline-secondary:hover
{
	background-color:#05916F;
	color: white
}
/*--- style cho menu can ban chi dung duoc tai pc---*/
ul.menu
{
	display: flex;
	padding: 0;
	list-style: none;
	justify-content:flex-start
}
ul.menu li a
{
	padding: 8px 16px;	/*background-color: deeppink;*/
	color: #333;
	margin: 2px;
	display: block
}
ul.menu li a:hover
{
	background-color:deeppink;
	border-bottom: 2px solid #666;
	color: pink
}
ul.menu li
{
	position: relative
}
ul.menu .dropdown-menu
{
	width: 200px;
	position: absolute; 
	left: 0;
	top: 150%;
	z-index: 9999;
	background: #eee;
	opacity: 0;
	transition: all 1s;
	/*transform: scaleY(0);
	transform-origin: top center;*/
	}
ul.menu li:hover >.dropdown-menu
{
	/*transform: scaleY(1);*/
	left: 0;
	top: 85%;
	opacity: 1
}

ul.menu .dropdown-menu a
{
	display: block /* mỗi a trong dropdown menu sẽ chiếm 1 hàng*/
}



.banner{
	position: relative
}
.banner-caption { 
	 padding: 20px; 
	width: 40%;
	/*border: 2px solid blue;*/
	position: absolute;
	right: 10%; top: 20%
}
#hero{}
.text-center{text-align: center}
.text-right{text-align: right}
.text-justify{text-align: justify}
.border-bottom{border-bottom: 1px solid #666}
	d-flex{display: flex}	
.align-items-center{align-items: center}
.align-items-end{align-items: flex-start}
.justify-center{justify-content: center}
.justify-between{justify-content: space-between}
.justify-end{justify-content: flex-end}
.justify-start{justify-content: flex-start}
.navbar
{display: flex;
justify-content: space-between;
align-items:center}
.navbar .logo{font-size: 2rem;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.navbar ul{display: flex;
list-style: none;
margin: 0;
padding: 0;}

.navbar ul li{position: relative}
.navbar ul li a{ 
padding: 10px 20px;
font-weight: 600;
}
.navbar ul li a:hover{border-bottom: 2px solid black;
	color: #434343
}
.my-100{
	margin-top: 100px;
	margin-bottom: 100px;	
}
.my-50{
	margin-top: 50px;
	margin-bottom: 50px	
}
.mx-auto{margin-left: auto;margin-right: auto}
.ml-auto{margin-left:auto}
.ar-auto{margin-right: auto}
.p-0{padding: 0}
.p-10{padding: 10px}
.py-100{
padding-top: 100px;
padding-bottom:100px
}
#danh-muc .anh-dm{position: relative; overflow: hidden}
#danh-muc .caption{
	
	position: absolute;
	left: 0;
	top: 45%;
	width: 100%;
	display: flex;justify-content: center;
}	
#danh-muc .caption p
{background: white; padding: 10px 25px; border-radius: 4px}
#danh-muc img 
{transition: all 1s}
#danh-muc .anh-dm:hover>img
{transform: scale(1.2)}

#New-Collection .card{ position:relative;overflow: hidden}

#New-Collection .card:hover >.right-box{right:10px}

#New-Collection .left-box{ position: absolute; left: 10px; top: 10px;
	background: #000;color: #fff;
	padding: 5px 15px;
	font-size: 14px;
}

#New-Collection .right-box {
	position: absolute;
	right: -100px;
	top:10px;
	boder:1px solid #d00;
	transition: all 0.5s
	
}




#New-Collection .right-box a
{   display: block;
	border: 1px solid #333;
	border-radius: 50%;
	padding: 10px;
	margin: 5px;

}
d-none{display: none}
	








#Best seller of the monthn .right-box a
{   display: block;
	border: 1px solid #333;
	border-radius: 50%;
	padding: 10px;
	margin: 5px;

}

#cam-nhan .content {position: relative; border-top: 50px;text-align: center;margin-top: 70px}
#cam-nhan .avatar {position: absolute ; border-radius: 50%;
left: 40%;
top: -50px;padding: 5px;
background: white;
box-shadow: 0 0  5px rgba(0,0,0,0.4)}



.video-play
{
	position: relative;
}
.video-playbutton
{
	position: absolute;
	top: 50%;
  	left: 50%;
	transform: translate(-50%, -50%);
	width: 60px;
  	height: 60px;
	font-size: 25px;
	border: black solid 3px;
	border-radius: 50%;
	display: flex;
	align-items: center;
  	justify-content: center;
}



#quang-cao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quang-cao .anh-dm {
  position: relative;
  overflow: hidden;
}

#quang-cao .caption {
  background: white;
  padding: 10px 25px;
  border-radius: 4px;
  margin-top: 10px; /* Khoảng cách giữa hình ảnh và văn bản */
}

#quang-cao img {
  transition: all 1s;
  width: 100%; /* Đảm bảo hình ảnh chiếm toàn bộ chiều rộng */
}

#quang-cao .anh-dm:hover > img {
  transform: scale(1.1);
}



#pink{}
.text-center{text-align: center}
.text-right{text-align: right}
.text-justify{text-align: justify}
.border-bottom{border-bottom: 1px solid #666}
	d-flex{display: flex}	
.align-items-center{align-items: center}
.align-items-end{align-items: flex-start}
.justify-center{justify-content: center}
.justify-between{justify-content: space-between}
.justify-end{justify-content: flex-end}
.justify-start{justify-content: flex-start}
